<div class="main-container">

    <div class="manual-container">
        <label for="key">Enter your items manually by comma separated</label>
        <input name="key" type="text" [(ngModel)]="items" />
        <span *ngIf="errorMessage2">{{errorMessage2}}</span>
        <button class="button" (click)="manualSubmit()">Next</button>
    </div>
    <h1>OR</h1>
    <div class="image-container">
        <img *ngIf="imageSrc" id="blah" [src]="imageSrc" alt="your image" />
        <input type="file" name="files" accept="image/*" (change)="onFileChanged($event)">
        <span *ngIf="errorMessage">{{errorMessage}}</span>
        <button class="submit-button" (click)="onSubmitImages()">Upload</button>
        <div class="divider"></div>
        <div *ngIf="showLoader; else output">
            <span class="info">{{info}}</span>
        </div>
        <ng-template #output>
            <div class="result">
                Name: {{result.tagName}}- Probability: {{result.probability}}
            </div>
        </ng-template>
    </div>
</div>
<div class="list">
    <ul >
        <div *ngFor="let item of productList;index as i; trackBy:trackbyFn">{{item}}&nbsp;&nbsp;&nbsp;<span (click)="delteItem(i)">X</span>&nbsp;</div>
    </ul>

</div>

<div class="userPref">
    <label for="userPref">Enter your preferences: &nbsp;&nbsp;</label>
    <input type="text" name="userPref" [(ngModel)]="userPreference" placeholder="vegetarian, asian, low fat dish" (onmouseout)="updateUserPreference()"/>

    <br>
    <label class="infospice">*General spices & herbs are assumed</label>
</div>

    <div class="finalSubmitBtn">
    <button  (click)="onNext()">Get Recipes</button>
</div>

<div *ngIf="showLoader2; else finalResult">
    <span class="info2">{{info2}}</span>
</div>
<ng-template #finalResult>
    <div class="output-container">
        <app-dish [dishList]="gptResponse" [strResponse]="gptResponseStr"></app-dish>
    </div>
</ng-template>

<div class="middle">
    <img src="/magicmealmaker/assets/background.jpg" alt="food" style="max-width:100%;height:auto;">
</div>

