.secret-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10vh;

    label {
        font-size: 16px;
        margin-right: 130px;
        margin-bottom: 5px;
    }

    input {
        padding: 6px;
        width: 309px;
        font-size: 16px;

    }

    span {
        font-size: 14px;
        margin-right: 197px;
        color: red;
    }

    .button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 2px;
        width: 326px;
        &:hover {
            background-color: #409a43;
        }
        &:active {
            background-color: #9acb9d;
        }

    }
}